.btn-group {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.btn {
  color: #333;
  text-transform: uppercase;
  border: 2px solid #333;
  text-align: center;
  padding: 0.3rem 0.5rem;
  text-decoration: none;
  background: none;
  cursor: pointer;
}


.btn.danger {
  background: red;
  color: white;
  border-color: red;
}

.btn:hover {
  color: black;
  border-color: black;
}


.section {
  max-width: 500px;
  margin: 0 auto;
}

.fail, .red {
  color: red;
}

.success, .green {
  color: green;
}
