.header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: #b9fde5;
}

.header a {
  color: #333;
  text-transform: uppercase;
  border: 2px solid #333;
  text-align: center;
  padding: 0.3rem 0.5rem;
  text-decoration: none;
}
